{% extends 'public/base_cpanel.html' %}
<!--Cambiando el title-->
{% block title %}Crud con Python 🐍 | Registrar Empleado{% endblock %}
<!---->
{% block customCSS %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename ='assets/css/file.css') }}" />
{% endblock %}

<!--Inicio del block-->
{% block body %}
<!---->
{% if (detalle_vehiculo|length) %}
<div class="card" style="border-radius: 0px !important">
  <div class="row justify-content-center mb-2">
    <div class="col-md-12">
      <h3 class="text-center mt-5 mb-3">
        <a href="/lista-de-vehiculos">
          <i class="bi bi-arrow-left-circle"></i>
        </a>
        INFORMACIÓN DEL VEHICULO
      </h3>
      <hr />
    </div>
  </div>

  <div class="row justify-content-center mb-2">
    <div class="col-md-10">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <label for="nombre_duenio" class="form-label">
              Nombre del dueño
            </label>
            <br />
            {{ detalle_vehiculo.nombre_duenio}}
          </div>
          <div class="col-md-6">
            <label for="sexo_duenio" class="form-label">
              Sexo del dueño
            </label>
            <br />
            {{ detalle_vehiculo.sexo_duenio}}
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-md-6">
            <label for="marca_auto" class="form-label">
              Marca del auto
            </label>
            <br />
            {{ detalle_vehiculo.marca_auto}}
          </div>
          <div class="col-md-6">
            <label for="modelo_auto" class="form-label">
              Modelo del auto
            </label>
            <br />
            {{ detalle_vehiculo.modelo_auto}}
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-md-6">
            <label for="factura" class="form-label">
              Numero de factura
            </label>
            <br />
            {{ detalle_vehiculo.factura}}
          </div>
          <div class="col-md-6">
            <label for="tarjeta_circulacion" class="form-label">
              Numero de tarjeta de circulacion
            </label>
            <br />
            {{ detalle_vehiculo.tarjeta_circulacion}}
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-md-6">
            <label for="email_duenio" class="form-label">
              Email del dueño
            </label>
            <br />
            {{ detalle_vehiculo.email_duenio}}
          </div>
          <div class="col-md-6">
            <label for="" class="form-label"> IMAGEN DEL Dueño </label>
            <br />
            <img
              style="width: 200px"
              src="/static/fotos_empleados/{{ detalle_vehiculo.foto_duenio }}"
              alt="imagen-dueño" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% else %}
<h2 class="text-center">
  No existe Vehiculo
  <hr />
</h2>
{% endif %} {% endblock %}
