{% for vehiculo in dataBusqueda %}
<tr id="vehiculo_{{ vehiculo.id_vehiculo }}">
  <td>{{ loop.index }}</td>
  <td>{{ vehiculo.nombre_duenio }}</td>
  <td>{{ vehiculo.sexo_duenio }}</td>
  <td>{{ vehiculo.marca_auto }}</td>
  <td>{{ vehiculo.modelo_auto}}</td>
  <td>
    <a
      href="/detalles-vehiculo/{{ vehiculo.id_vehiculo}}"
      title="Ver envio"
      type="button"
      class="btn btn-info btn-sm"
      data-bs-toggle="tooltip"
      data-bs-offset="0,4"
      data-bs-placement="top"
      data-bs-html="true"
      title="<span>Ver detalles</span>">
      <i class="bi bi-eye"></i>
      Ver detalles
    </a>
    <a
      href="{{ url_for('viewEditarVehiculo', id_vehiculo = vehiculo.id_vehiculo) }}"
      class="btn btn-success btn-sm"
      tooltip="Actualizar Registro">
      <i class="bi bi-arrow-clockwise"></i>
      Actualizar
    </a>
    <a
      href="#"
      onclick="eliminarEmpleado('{{ vehiculo.id_vehiculo }}');"
      class="btn btn-danger btn-sm"
      data-bs-toggle="tooltip"
      data-bs-offset="0,4"
      data-bs-placement="top"
      data-bs-html="true"
      title="<span>Eliminar empleado {{ vehiculo.nombre_duenio }}</span>">
      <i class="bi bi-trash3"></i>
      Eliminar
    </a>
  </td>
</tr>

{% endfor %}
